/wiki_gripe_espanhola.png
/wiki_gripe_espanhola_filtered.png
/wiki_independencia_brasil.png
/wiki_independencia_brasil_filtered.png
/wiki_isabel_II.png
/wiki_isabel_II_filtered.png
/utc.py
/teste.csv
/segmentacao.zip
/segmented_text
/pec_32_2020_filtered.png
/Untitled.ipynb
/pec_32_2020.png
/matriz_similaridade.txt
/skip_s50_fastText.txt
/listacompleta
/lei_13146_filtered.png
/lei_13146.png
/edital182021_filtered.png
/edital182021.png
/clusters
/cbow_s100.txt
/bula_novalgina_filtered.png
/bula_novalgina.png
/TextCleaner.py
/segmented.bak/
/segmented without stopwords/
/stemmed/
/cleaned/
/.ipynb_checkpoints/
/a/
/Textos originais/
/frequencydictionary.py